.choose-section {
    position: relative;
    height: 700px;
    padding: 50px ;
    background-image: url(../images/choose-bg.png)  ;
    background-repeat: no-repeat;
    background-size:  cover ;
}

.choose__content-wrapper {
    width: 581px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
.choose__title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.59px;
    color: white;
    margin-bottom: 10px;
}
.choose-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}
.choose__list {
    @include display($space:start);   
    gap: 30px;
    position: absolute;

}
.choose__item {
    width: 410px;
}
.choose__img {
    margin-bottom: 28px;
}
.choose__subtitle {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    color: #333333;
    margin-bottom: 10px;
}
.choose__content {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
}
.choose__item:first-child{
    position: relative;
}
.choose__item:first-child::before{
    position: absolute;
    content: "";
    width: 144px;
    height: 140px;
    background-image: url(../../images/choose-img4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    top: -50px;
    left: -55px;
}